.button {
  background-color: $blue;
  border: none;
  color: #ffffff;
  display: inline-block;
  font-size: $font-size-large;
  font-weight: 300;
  line-height: 1;
  padding: $s-size;
  text-decoration: none;
}

.button--link {
  background: none;
}

.button--secondary {
  background-color: #888888;
}
