// Colors
$blue: #1C88BF;
$dark-blue: #364051;
$gray: #666666;
$bright-grey: #757575;
$dark-grey: #333333;
$off-white: #f7f7f7;

// Font Size
$font-size-large: 1.8rem;

//Sizes
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;